.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content{
  display: flex;
}

.skomponuj{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dodatek_ikonka{
  width: 50px;
  height: 50px;
}

.dodatekRzad{
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.zamowienieRzad{
  display: flex;
  padding-right: 20px;
}

.dodatki{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/3;
}

.dodatekRzad p:last-child, .zamowienieRzad h3:last-child{
  margin-left: auto;
}

.wielkosc{
  width: 60px;
  height: 60px;
  margin: 0 20px;
  cursor: pointer;
  padding: 2px;
  
  border-radius: 50%;
}

.wielkosc.mala{
  width: 50px;
  height: 50px;
}

.wielkosc.duza{
  width: 70px;
  height: 70px;
}

.wielkosc.zaznaczone{
  background-color: red;
}